@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --pink-original: #EA757E;
  --blue-original: #46b9b3;
  --yellow-original: #F3B93E;
  --red-original: #D9593C;
  --white-original: #FFFEEC;
  --black-text: #141414;
}

*{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 2s linear;
  text-transform: capitalize;
}

*::selection{
  background-color: var(--pink-original);
  color: var(--white-original);
}

::-webkit-scrollbar{
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: var(--blue-original);
  border-radius: 50px;
}

body{
  background-color: white;
  margin: 0;
  padding: 0;
}






/*Navbar*/

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--red-original);
}

.navbar .container-fluid{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .container-fluid .navbar-brand{
font-size: 16px;
margin-right: auto;
margin-left: 13px;
}

#navbar-toggler{
  cursor: pointer;
  color: var(--black-text);
  font-size: 20px;
  display: none;
  order: -1;
}

.navbar-nav {
  margin: 0 auto; /* Para eliminar el margen predeterminado de la lista de navegación */
  text-align: center;
  margin: 0 auto;
}

.navbar-nav a{
  text-transform: initial;
}

.navbar-nav-enlaces{
  position: relative;
  text-decoration: none;
  margin-left: 24px;
  color: var(--red-original);
  font-size: 17px;
  font-weight: 400;
}

.navbar-nav-enlaces::before {
  content: '';
  position: absolute;
  border-radius: 34px;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--red-original);
  transition: width 0.3s ease;
}

.navbar-nav-enlaces:hover::before {
  width: 100%;
}

.btn-iniciar-sesión{
  display: inline-block;
  cursor: pointer;
  background-color: white;
  color: var(--blue-original);
  font-size: 17px;
  border: solid;
  border-radius: 10px;
  border-color: var(--blue-original);
  border-width: 2.3px;
  padding: 5px 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.btn-iniciar-sesión:hover{
  background-color: var(--blue-original);
  color: white;
}

.btn-registrarse{
  display: inline-block;
  cursor: pointer;
  background-color: var(--blue-original);
  color: white;
  font-size: 17px;
  border-radius: 10px;
  padding: 5px 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 11px;
}

.btn-registrarse:hover{
  background-color:white;
  color: var(--blue-original);
  border: solid;
  border-color: var(--blue-original);
  border-width: 2.3px;
}

.btn-cerrar-sesión{
  display: inline-block;
  margin-top: 16px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  color: var(--blue-original);
  font-size: 17px;
  padding: 5px 18px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-cerrar-sesión:hover{
  background-color: var(--blue-original);
  color: white;
}






/*Inico Section*/
.home{
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.home .row{
  display: flex;
  align-items: center;
}

.home .row .card-body-contenido{
  border: none;
}

.home .row .content{
  text-align: center;
}

.card-text{
  text-transform: initial;
}

.home .row .image img{
  width: 100%;
  margin: 30px;
}

.home .row .content h3{
  font-size: 145px;
  color: var(--red-original);
  line-height: 1;
  padding-left: 30px;
  padding-right: 30px;
}

.letra-s {
  color: var(--red-original);
}

.letra-t {
  color: var(--yellow-original);
}

.letra-u {
  color: var(--blue-original);
}

.letra-d {
  color: var(--pink-original);
}

.letra-i {
  color: var(--red-original); 
}

.letra-a {
  color: var(--yellow-original);
}

.letra-r {
  color: var(--blue-original);
}

.letra-e {
  color: var(--pink-original);
}

.home .row .content p{
  font-size: 24px;
  font-weight: 400;
  color: var(--black-text);
  padding-left: 80px;
  padding-right: 80px;
}






/*Mostrador Section*/
.box{
  padding: 0px;
  margin: 30px;
}

.box .p-3{
  background-color: var(--red-original);
  border-radius: 10px;
  color: #fff;
  padding: 0px 24px;
  text-align: center;
}

.box .p-3 .content{
  padding: 0px;
}

.box .p-3 .content h3{
  font-size: 30px;
  color: white;
  margin: 0 auto;
}

.box .p-3 .content p{
  font-size: 19px;
  color: white;
  margin: 0 auto;
}




/*Materias Section*/
.heading{
  margin: 30px;
  text-align: center;
  font-size: 45px;
  color:var(--red-original);
  text-transform: initial;
}

.courses .slide{
  height: 515px;
  background-color: #fff2f4;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  margin-bottom: 40px;
}

.courses .slide img{
  margin-bottom: 10px;
  height: 300px;
  width: 300px;
}

.courses .slide h3{
  margin: 0px;
  font-size: 23px;
  color: var(--red-original);
}

.courses .slide p{
  line-height: 1.5;
  font-size: 16px;
  color: var(--black-text);
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  text-transform: initial;
}

.courses .slide .btn-explorar{
  border-radius: 15px;
  background-color: var(--yellow-original);
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.swiper-pagination-bullet{
  margin-top: 30px;
  background-color: #de755e;
}

.swiper-pagination-bullet-active{
  background-color: var(--red-original);
}





/*Comunidad Section*/
.box-comunidad .p-3{
  margin-bottom: 5px;
}

.grupos-comunidades{
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.grupos-comunidades:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.grupos-comunidades .img-comunidades{
  /*margin-right: 10px; Ajusta el espacio entre la imagen y el nombre */
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.grupos-comunidades h5{
  font-size: 18px;
  margin-left: 10px;
  text-align: center;
  display: inline;
  margin: 10px;
  color: #1B1B1B;
}

.grupos-comunidades p{
  text-align: justify;
  font-size: 16px;
  text-transform: initial;
  color: #1B1B1B;
  margin-top: 10px;
}

.grupos-comunidades .participar-link{
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  font-size: 16px;
  color: var(--red-original);
}

.grupos-comunidades .icon-participar{
  display: inline-block;
  margin-left: 3px;
  transition: transform 0.5s ease;
  margin-right: 15px;
}

.grupos-comunidades .participar-link:hover .icon-participar{
  transform: translateX(8px);
}

.btn-crear-comunidad-div{
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn-crear-comunidad{
  text-align: center;
  margin-top: 15px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  padding: 10px 24px;
  background-color: var(--blue-original);
  border-color: var(--blue-original);
  font-size: 16px;
  text-decoration: none;
}

.btn-crear-comunidad:hover{
  background-color: #2fa8a2;
  border-color: #2fa8a2;
}




/*¿Qué Ofrecemos?*/
.que-ofrecemos{
  text-align: center;
}

.carousel-inner{
  display: flex;
  max-width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.carousel-item{
  max-width: 100%;
  text-align: left;
  background-color: whitesmoke;
  box-shadow: inset;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0px;
  padding: 25px;
  margin-bottom: 10px;
}

.carousel-item h3{
  color: var(--pink-original);
  font-size: 26px;
}

.carousel-item p{
  text-transform: initial;
  color: var(--black-text);
  font-size: 17px;
}





/*Footer*/
footer {
  width: 100%;
  box-sizing: border border-box;
  background: rgb(71,184,180);
  background: linear-gradient(136deg, rgb(61, 175, 171) 3%, rgba(216,88,60,1) 43%, rgba(235,117,127,1) 100%);
  color: #fff; /* Cambia el color del texto según tus preferencias */
}

footer h3 {
  margin-top: 30px;
  color: #fff; /* Puedes personalizar el color de los títulos */
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  line-height: 1.9;
}

.studiare-email-p{
  text-transform: initial;
}

footer a {
  color: #fff; /* Puedes personalizar el color de los enlaces */
  text-decoration: none;
  text-transform: initial;
}












/* Estilos del Carrusel con Zoom */
#carruselFunciones {
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 33.3333%; /* Tamaño inicial de cada elemento, lo puedo ajustar*/
}

.funcion {
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
  text-align: center;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.funcion:hover {
  transform: scale(1.2); /* Escala al hacer hover */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra la hacerhover */
}




























/*media queries*/

/* Laptop L - 1440px */
@media (max-width:1440px){

  /*NAVBAR*/
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .container-fluid .navbar-brand{
    font-size: 10px;
    margin-right: auto; /* Empuja el logo hacia la izquierda */
    margin-left: 15px;
  }
    
  #navbar-toggler{
    cursor: pointer;
    color: var(--black-text);
    font-size: 40px;
    display: none;
    order: -1;
  }

  .navbar-nav {
    margin: 0; /* Para eliminar el margen predeterminado de la lista de navegación */
    text-align: center;
    margin: 0 auto;
  }

  .navbar-nav-enlaces{
    margin-left: 24px;
    color: var(--red-original);
    font-size: 19px;
    font-weight: 450;
  }
  
  .btn-iniciar-sesión{
    display: inline-block;
    margin-top: 16px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    color: var(--blue-original);
    border-color: var(--blue-original);
    font-size: 16px;
    font-weight: 500;
    padding: 5px 14px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .btn-registrarse{
    display: inline-block;
    margin-top: 16px;
    border-radius: 10px;
    background-color: var(--blue-original);
    border-color: var(--blue-original);
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 14px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .btn-cerrar-sesión{
    display: inline-block;
    margin-top: 16px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    color: var(--blue-original);
    font-size: 16px;
    font-weight: 500;
    padding: 5px 14px;
    margin-left: 15px;
    margin-right: 15;
    margin-top: 5px;
    margin-bottom: 5px;
  }


  /*INICIO*/
  .home{
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .home .row .card-body-contenido{
    border: none;
  }
  
  .home .row .image img{
    width: 10%;
  }
  
  .home .row .content h3{
    font-size: 120px;
    color: var(--red-original);
    line-height: 1;
  }
  
  .home .row .content p{
    font-size: 20px;
    font-weight: 400;
    color: var(--black-text);
  }




  /*MOSTRADOR*/
  .box{
    padding: 0px;
    margin: 15px;
  }
  
  .box .p-3{
    background-color: var(--red-original);
    border-radius: 10px;
    color: #fff;
    padding: 0px 24px;
    text-align: center;
  }
  
  .box .p-3 .content{
    padding: 0px;
  }
  
  .box .p-3 .content h3{
    font-size: 30px;
    color: white;
    margin: 0 auto;
  }
  
  .box .p-3 .content p{
    font-size: 19px;
    color: white;
    margin: 0 auto;
  }


  

  /*MATERIAS*/
  .heading{
    margin: 30px;
    text-align: center;
    font-size: 40px;
    color:var(--red-original);
    text-transform: initial;
  }
  
  .courses .slide{
    height: 520px;
    background-color: #fff2f4;
    border-radius: 20px;
    text-align: center;
    padding: 13px;
    margin-bottom: 40px;
  }
  
  .courses .slide img{
    height: 300px;
    width: 300px;
  }
  
  .courses .slide h3{
    margin: 0px;
    font-size: 22px;
    color: var(--red-original);
  }
  
  .courses .slide p{
    line-height: 1.5;
    font-size: 16px;
    color: var(--black-text);
    margin: 10px;
    text-transform: initial;
  }
  
  .courses .slide .btn-explorar{
    border-radius: 15px;
    background-color: var(--yellow-original);
    color: white;
    font-weight: 500;
    font-size: 15px;
  }
  
  .swiper-pagination-bullet{
    margin-top: 30px;
    background-color: #de755e;
  }
  
  .swiper-pagination-bullet-active{
    background-color: var(--red-original);
  }


  /*FOOTER*/
  footer h3 {
    margin-top: 30px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }

  footer ul li {
    line-height: 1.8;
  }
  
  .studiare-email-p{
    text-transform: initial;
  }
  
  footer a {
    color: #fff; /* Puedes personalizar el color de los enlaces */
    text-decoration: none;
    text-transform: initial;
  }

}





/* Laptop - 1024px */
@media (max-width:1024px){

  html{
    font-size: 100%;
  }
  
  /*NAVBAR*/
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--red-original);
  }

  .navbar .container-fluid .navbar-brand{
  font-size: 14px;
  margin-right: auto;
  margin-left: 25px;
  }
  
  #navbar-toggler{
    cursor: pointer;
    color: var(--black-text);
    font-size: 20px;
    display: none;
    order: -1;
  }

  .navbar-nav-enlaces{
    position: relative;
    text-decoration: none;
    margin-left: 24px;
    color: var(--red-original);
    font-size: 16px;
    font-weight: 400;
    text-transform: initial;
  }
  
  .navbar-nav-enlaces::before {
    content: '';
    position: absolute;
    border-radius: 34px;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--red-original);
    transition: width 0.3s ease;
  }
  
  .btn-iniciar-sesión{
    display: inline-block;
    cursor: pointer;
    background-color: white;
    color: var(--blue-original);
    font-size: 14px;
    border: solid;
    border-radius: 10px;
    border-color: var(--blue-original);
    border-width: 2.3px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
  }
  
  .btn-registrarse{
    display: inline-block;
    cursor: pointer;
    background-color: var(--blue-original);
    color: white;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 11px;
  }
  
  .btn-cerrar-sesión{
    display: inline-block;
    margin-top: 16px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    color: var(--blue-original);
    font-size: 14px;
    padding: 5px 10px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

}